/* Relinux Website Stylesheet
   Written by Joel Leclerc (MiJyn) <lkjoel@ubuntu.com>
*/

/* === BODY === */

body {
	/*margin-top: 10px;*/
	/*padding-bottom: 40px;*/
	/*background-color: #383635;
	color: #fff;*/
}

header {
	margin-top: 10px;
}

/* === SELECTION === */
::selection {
	background: #000;
	color: #fff;
}

::-moz-selection {
	background: #000;
	color: #fff;
}

/* === NAVBAR === */
.navbar {
	margin-bottom: 0px;
	z-index: 101;
	/*background-color: #383635;*/
	padding-bottom: 20px;
}

.navbar-inner {
	z-index: 102;
	border-radius: 0px;
	margin-bottom: 0px;
	/*background-color: #383635;*/
	font-size: 30px;
	/*background-image: none;
	box-shadow: none;*/
}

.navbar-inner .brand {
	padding-top: 5px;
	padding-bottom: 10px;
	margin-right: 50px;
	color: #fff;
}

.navbar-inner ul {
	padding-top: 15px;
	color: #fff;
}

/*.nav-collapse .nav > li > a {
	color: #fff;
	/*border-width: 1px;
	border-style: solid;
	border-color: #8cc8ff;
	transition: border-color .1s;
	-moz-transition: border-color .1s;
	-webkit-transition: border-color .1s;
	-o-transition: border-color .1s;*/ /*
}

.nav-collapse .nav > li > a:hover {
	color: #fff;
	/*border-color: #ff9696;*/ /*
}*/
/*
.nav-collapse .nav > li > a:active {
	color: #fff;
	border-color: #f00;
	transition: border-color 0s;
	-moz-transition: border-color 0s;
	-webkit-transition: border-color 0s;
	-o-transition: border-color 0s;
}

.nav-collapse .nav .active > a {
	color: #fff;
	background-color: transparent;
	border-color: #f00;
	transition: border-color 0s;
	-moz-transition: border-color 0s;
	-webkit-transition: border-color 0s;
	-o-transition: border-color 0s;
}

.nav-collapse .nav .active > a:hover {
	color: #fff;
	background-color: transparent;
	border-color: #f00;
}*/
.navbar-shadow {
	z-index: 1000;
	height: 5px;
	width: 100%;
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(top, rgb(34, 34, 34), #fff );
	background: -webkit-linear-gradient(top, rgb(34, 34, 34), #fff );
	background: -ms-linear-gradient(top, rgb(34, 34, 34), #fff );
	background: -o-linear-gradient(top, rgb(34, 34, 34), #fff );
	background: linear-gradient(top, rgb(34, 34, 34), #fff );
	background: rgb(0, 0, 0);
}

.navbar-highlight-wrapper {
	position: relative;
	height: 10px;
}

.navbar-highlight {
	position: absolute;	padding: 40px;
	left: 0px;
	top: 0px;
	z-index: 10000;
	height: 10px;
	background-color: blue;
}

/* === HERO UNIT === */
.hero-unit { /*margin-top: 0px;
	border-radius: 0px;
	background-color: transparent;
	border-width: 1px;
	border-style: solid;
	border-color: #000;*/
	border-radius: 15px;
}

.carousel-control {
	border: 2px solid black;
	border-opacity: .1;
}

/* === FEATURES === */
.features_icon {
	
}

/* === BUTTONS === *//*
.btn {
	box-shadow: none;
	color: #fff;
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #8cc8ff;
	background-color: transparent;
	background-image: none;
	transition: border-color .1s;
	-moz-transition: border-color .1s;
	-webkit-transition: border-color .1s;
	-o-transition: border-color .1s;
	text-shadow: none;
}

.btn:hover {
	box-shadow: none;
	color: #fff;
	background-color: transparent;
	background-image: none;
	border-color: #ff9696;
}

.btn:active {
	box-shadow: none;
	color: #fff;
	background-color: transparent;
	background-image: none;
	border-color: #f00;
}

/* === HEADERS === */
h3.posttitle {
	margin-bottom: 0px;
}

a.posttitle {
	margin-bottom: 0px;
}

/* === HOWTO === */
.howto {
	background-color: #eee;
	border-radius: 5px;
	border: 1px #aaa solid;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: .5em;
	margin-bottom: .5em;
}

/* === HR === */
hr.small {
	margin-top: 0px;
	margin-bottom: 5px;
}


/* === UTILITIES === */
.center {
	text-align: center;
	display: block;
}

.loading {
	background: url('/images/ajax-loader.gif') no-repeat;
    height: 60px;
}

/* === FOOTER === */
#footer_wrap hr {
	margin-bottom: 0;
}

footer {
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 20px;
}
