<!DOCTYPE html>
<html id="home">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="description"
	content="Relinux : A free tool to create a professional-looking OS" />
<meta name="google-site-verification"
	content="8oEMy7c-MfynNvTNB627ezoqqMxzOqWMHKO5UM1GarM" />

<link rel="stylesheet" type="text/css" media="screen"
	href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="/stylesheets/stylesheet.css">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="http://api.relinuxkit.org/api.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>

<title>{% if page.title %} {{ page.title }} - {% endif %}Relinux</title>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-33350913-1' ]);
	_gaq.push([ '_setDomainName', 'relinuxkit.org' ]);
	_gaq.push([ '_trackPageview' ]);

	(function()
	{
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl'
				: 'http://www')
				+ '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>
</head>
<body data-spy1="scroll">
	<header>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#"><img src="/images/relinux-light.png"
						alt="Relinux" height="54" /></a>
					<div class="nav-collapse">
						<ul id="nav-menu" class="nav">
							<li {% if page.is_main_page %} class="active"{% endif %}><a
								href="{% if page.is_main_page %}{% else %}/{% endif %}#home">Home</a></li>
							<li><a
								href="{% if page.is_main_page %}{% else %}/{% endif %}#features">Features</a></li>
							<li><a
								href="{% if page.is_main_page %}{% else %}/{% endif %}#download">Download</a></li>
							<li {% if page.is_post or page.is_post_index %} class="active"{% endif %}><a
								href="{% if page.is_post_index %}{% else %}/blog/{% endif %}#">Blog</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- <div class="navbar-shadow"></div>-->
		</div>
		<!-- <div class="navbar-highlight-wrapper">
			<div class="navbar-highlight" id="navbar-highlight-selected"></div>
			<div class="navbar-highlight" id="navbar-highlight-hover"></div>
		</div>-->
	</header>
	<div id="main_content" class="container">
		{{ content }}
		<hr />
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = 'relinux';
			var disqus_url = "http://www.relinuxkit.org/{{ page.url }}";
			var disqus_developer = 1;

			(function()
			{
				var dsq = document.createElement('script');
				dsq.type = 'text/javascript';
				dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document
						.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>
			Please enable JavaScript to view the <a
				href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
		</noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span
			class="logo-disqus">Disqus</span>
		</a>
	</div>
	<div id="footer_wrap">
		<hr />
		<footer class="container">
			<div class="row">
				<div class="span4">
					Relinux is written and maintained by <a href="https://github.com/MiJyn">MiJyn</a>
				</div>
				<div id="latest-tweet" class="span4">
					<h5>
						<a href="http://twitter.com/relinux">@relinux</a>
					</h5>
					<span class="loading"></span>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
