<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="description"
	content="Relinux : A free tool to create a professional-looking OS" />
<meta name="google-site-verification"
	content="8oEMy7c-MfynNvTNB627ezoqqMxzOqWMHKO5UM1GarM" />

<link rel="stylesheet" type="text/css" media="screen"
	href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen"
	href="stylesheets/stylesheet.css">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript" src="javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>

<title>{% if page.title %} {{ page.title }} | {% endif %}Relinux</title>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-33350913-1' ]);
	_gaq.push([ '_setDomainName', 'relinuxkit.org' ]);
	_gaq.push([ '_trackPageview' ]);

	(function()
	{
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl'
				: 'http://www')
				+ '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>
</head>
<body data-spy="scroll">
	<header>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#"><img src="images/relinux-light.png"
						alt="Relinux" /></a>
					<div class="nav-collapse">
						<ul id="nav-menu" class="nav">
							<li><a href="#home">Home</a></li>
							<li><a href="#features">Features</a></li>
							<li><a href="#download">Download</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- <div class="navbar-shadow"></div>-->
		</div>
		<!-- <div class="navbar-highlight-wrapper">
			<div class="navbar-highlight" id="navbar-highlight-selected"></div>
			<div class="navbar-highlight" id="navbar-highlight-hover"></div>
		</div>-->
	</header>
	<div id="main_content" class="container">
		<div class="hero-unit" id="home">
			<!-- <h1>Free Linux distro creation tool</h1>
			<p>A fast, powerful, flexible, yet easy Linux distro creation tool.</p>
			<p>
				<a class="btn btn-large" href="#features">See the features &raquo;</a>
			</p>-->
			<div id="hero-slideshow" class="carousel slide">
				<div class="carousel-inner">
					<div class="active item">
						<center>
							<img src="images/relinux_main.png" class="center" align="center" />
						</center>
					</div>
					<div class="item">
						<center>
							<img src="images/relinux_configure_general.png" class="center"
								align="center" />
						</center>
					</div>
					<div class="item">
						<center>
							<img src="images/relinux_configure_advanced.png" class="center"
								align="center" />
						</center>
					</div>
				</div>
				<a class="carousel-control left" href="#hero-slideshow" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#hero-slideshow" data-slide="next">&rsaquo;</a>
			</div>
		</div>
		<hr />
		<!-- <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />-->
		<div class="row" id="features">
			<div class="span12">
				<h1>Features</h1>
				<br />
			</div>
			<div class="span4" id="feature_fast">
				<h2>Fast</h2>
				<p>
					Speed has always been an issue in many applications, but sometimes slowness
					can be avoided by using every resource available to the program. By running
					different operations on each <abbr title="Central Processing Unit">CPU</abbr>
					core, relinux cuts down the time needed to generate your linux
					distribution.
				</p>
				<p class="hideme hidden"></p>
				<p>
					<a class="btn showhide" onclick="showhide('#feature_fast')">Show
						more &raquo;</a>
				</p>
			</div>
			<div class="span4" id="feature_easy">
				<h2>Easy</h2>
				<p>Relinux gives a helping hand to every part of creating your distro.
					From configuring applications to giving tips on making your distro look
					more professional to editing the installer, relinux will help you.</p>
				<p class="hideme hidden"></p>
				<p>
					<a class="btn showhide" onclick="showhide('#feature_easy')">Show
						more &raquo;</a>
				</p>
			</div>
			<div class="span4" id="feature_flexible">
				<h2>Flexible</h2>
				<p>As relinux is completely modular, you can not only create the base
					image, but also automate the tasks that you commonly do when creating a new
					version of your distro.</p>
				<p class="hideme hidden"></p>
				<p>
					<a class="btn showhide" onclick="showhide('#feature_flexible')">Show
						more &raquo;</a>
				</p>
			</div>
		</div>
		<hr />
		<div class="row" id="download">
			<div class="span12">
				<h1>Download</h1>
				<br />
			</div>
			<div class="span12">
				<p>
					Relinux 0.4 is not available yet, but you can get the source at <a
						href="https://github.com/MiJyn/relinux"
						title="https://github.com/MiJyn/relinux" target="_blank">https://github.com/MiJyn/relinux</a>
				</p>
			</div>
		</div>
		<hr />
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = 'relinux';
			var disqus_url = "http://www.relinuxkit.org/";
			var disqus_developer = 1;

			(function()
			{
				var dsq = document.createElement('script');
				dsq.type = 'text/javascript';
				dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document
						.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>
			Please enable JavaScript to view the <a
				href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
		</noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span
			class="logo-disqus">Disqus</span>
		</a>
	</div>
	<div id="footer_wrap">
		<hr />
		<footer>
			Relinux is written and maintained by <a href="https://github.com/MiJyn">MiJyn</a>
		</footer>
	</div>
</body>
</html>
