<!DOCTYPE html>
<html>

<head>
<meta charset='utf-8' />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="description"
	content="Relinux : A free tool to create a professional-looking OS" />
<meta name="google-site-verification"
	content="8oEMy7c-MfynNvTNB627ezoqqMxzOqWMHKO5UM1GarM" />

<link rel="stylesheet" type="text/css" media="screen"
	href="stylesheets/stylesheet.css">

<script type="text/javascript" src="javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="javascripts/slides.min.jquery.js"></script>

<title>{% if page.title %} {{ page.title }} | {% endif %}Relinux</title>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-33350913-1' ]);
	_gaq.push([ '_setDomainName', 'relinuxkit.org' ]);
	_gaq.push([ '_trackPageview' ]);

	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl'
				: 'http://www')
				+ '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>
<!-- <script type="text/javascript">
	function updateNextPrev() {
		$(".slideshow .prev").css({
			padding: 2
		})
		$(".slideshow .next").css({
			padding: 2
		})
		$(".slideshow .prev").css({
			position : "absolute",
			left : $(".slider").offset().left,
			top : (($(".slider").offset().top + $(".slider").outerHeight()) / 2) + ($(".slideshow .prev").outerHeight() / 2),
			padding: 2,
			"background-color" : "rgba(30, 30, 30, .5)"
		});
		$(".slideshow .next").css({
			position : "absolute",
			padding: 2,
			left : $(".slider").outerWidth() + $(".slider").offset().left,
			top : $(".slider").offset().top,
			"background-color" : "rgba(30, 30, 30, .5)"
		});
	}
	$(document).ready(function() {
		$(".slideshow").slides({
			container : "slider",
			generateNextPrev : false,
			//play : 2500,
			effect : 'fade',
			slidesLoaded : updateNextPrev,
			animationComplete: updateNextPrev
		});
	});
</script> -->
</head>

<body>

	<!-- HEADER -->
	<div id="header_wrap" class="outer">
		<header class="inner">
			<a id="forkme_banner" href="https://github.com/MiJyn/relinux">View
				on GitHub</a>

			<h1 id="project_title">
				<a href="/"> <!--Relinux-->
				</a>
			</h1>
			<!-- <h2 id="project_tagline">A free tool to create a
				professional-looking OS</h2>-->

			<!--<section id="downloads">
              <a class="zip_download_link" href="https://github.com/MiJyn/relinux/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/MiJyn/relinux/tarball/master">Download this project as a tar.gz file</a>
            </section>-->
		</header>
	</div>

	<!-- MAIN CONTENT -->
	<div id="main_content_wrap" class="outer">
		<div class="hero_header_wrap_top"></div>
		<div class="hero_header">
			<h1 style="font-size: 250%">Free linux distro creating toolkit</h1>
			<!-- <div id="hero_slideshow" class="slideshow">
				<div class="slider inner">
					<div>
						<img src="images/20mins.png" />Test
					</div>
					<div>
						<img src="images/20mins.png" />
					</div>
				</div>
				<a href="#" class="prev">&lt;</a> <a href="#" class="next">&gt;</a>
			</div>-->
			<img src="images/relinux_configure.png" />
		</div>
		<!-- <div class="hero_header_wrap_bottom"></div> -->
		<section id="main_content" class="inner">
			<!-- <div class="features">
				<hr />
				<div>
					<h1>Fast</h1>
					Relinux is completely multithreaded to let operations run at the
					same time, therefore decreasing the amount of time needed.
				</div>
				<hr />
				<div>
					<h1>Easy</h1>
					Apart from the easiness in its power, it is also a kit that
					contains tools to help you customize your system.
				</div>
				<hr />
			</div>-->
			{{ content }}
			<hr />
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				var disqus_shortname = 'relinux';
				//var disqus_url = "http://mijyn.github.com/relinux";
				//var disqus_developer = 1;

				(function() {
					var dsq = document.createElement('script');
					dsq.type = 'text/javascript';
					dsq.async = true;
					dsq.src = 'http://' + disqus_shortname
							+ '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document
							.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>
				Please enable JavaScript to view the <a
					href="http://disqus.com/?ref_noscript">comments powered by
					Disqus.</a>
			</noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered
				by <span class="logo-disqus">Disqus</span>
			</a>
		</section>
	</div>

	<!-- FOOTER  -->
	<div id="footer_wrap" class="outer">
		<footer class="inner">
			<p class="copyright">
				Relinux written and maintained by <a href="https://github.com/MiJyn">MiJyn</a>
			</p>
		</footer>
	</div>

</body>
</html>
